<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <!-- <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> -->
        </button>
        <h2 class="navbar-brand text-deep-green"><a href="index.html">HANS</a></h2>
        <!-- <a class="navbar-brand" href="#tf-home"><img src="img/logo.png" alt="..."></a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/newYearPlan">신년계획</a></li>
          <li><a href="ott.html">OTT</a></li>
          <li><a href="sports.html">스포츠</a></li>
          <li><a href="pantoneColor.html">올해의 컬러</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>