<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <div data-include-path="head.html"></div>

</head>

<body>

    <div class="cursor"></div>

    <!-- Main Navigation 
    ================================================== -->
    <div data-include-path="nav.html"></div>


    <!--언급 순위 in SNS
    ================================================== -->
    <div id="tf-services" class="top100">
        <div class="container">
            <!-- container -->

            <div class="section-header">
                <h2>Words <span class="highlight"><strong>Ranking</strong></span></h2>
            </div>

            <div class="row">
                <!-- row -->
                <div class="text-center">
                    <ul class="list-inline cat">
                        <!-- Portfolio Filter Categories -->
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".web">Naver</a></li>
                        <li><a href="#" data-filter=".brand">Youtube</a></li>
                        <li><a href="#" data-filter=".app">Instargram</a></li>
                        <li><a href="#" data-filter=".others">Tweeter</a></li>
                    </ul><!-- End Portfolio Filter Categories -->
                </div>

                <!-- chart -->
                <div id="feature float-left">
                    <!-- fullwidth gray background -->
                    <div class="container">
                        <!-- container -->
                        <div class="row" role="tabpanel">
                            <!-- row -->
                            <div class="col-md-4">
                                <!-- tab menu col 4 -->

                                <ul class="features nav nav-pills nav-stacked ranking-chart" role="tablist">
                                    <li role="presentation" class="active">
                                        <!-- feature tab menu #1 -->
                                        <a href="#f1" aria-controls="f1" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #2 -->
                                        <a href="#f2" aria-controls="f2" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #3 -->
                                        <a href="#f3" aria-controls="f3" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #4 -->
                                        <a href="#f4" aria-controls="f4" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #5 -->
                                        <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #5 -->
                                        <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #5 -->
                                        <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #5 -->
                                        <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #5 -->
                                        <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #5 -->
                                        <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end tab menu col 4 -->

                            <!-- line chart -->
                            <div class="line-chart-wrap">
                                <canvas id="line-chart"></canvas>
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end container -->
                </div><!-- end fullwidth gray background -->

            </div><!-- end row -->

        </div><!-- end container -->
    </div>


    <!--
    ================================================== -->
    <div id="tf-intro">
        <div class="container">
            <div class="section-header">
                <h2>Keywords <strong>Analysis</strong></h2>
            </div>
        </div>
    </div>

    <!--
    ================================================== -->
    <div id="tf-blog">
        <div class="container">
            <div class="section-header">
                <h2>Social <span class="highlight"><strong>Networks</strong></span></h2>
            </div>

            <div id="blog-post">
                <!-- fullwidth gray background -->
                <div class="container">
                    <!-- container -->

                    <div class="row">
                        <!-- row -->
                        <div class="col-md-6">
                            <!-- Left content col 6 -->

                            <div class="post-wrap">
                                <!-- Post Wrapper -->
                                <div class="media post">
                                    <!-- post wrap -->
                                    <div class="media-left">
                                        <a href="#">
                                            <!-- link to your post single page -->
                                            <img class="media-object" src="http://placehold.it/120x150" alt="...">
                                            <!-- Your Post Image -->
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="small">January 14, 2022</p>
                                        <a href="#">
                                            <h5 class="media-heading"><strong>Title</strong></h5>
                                        </a>
                                        <p>contents </p>
                                    </div>
                                </div><!-- end post wrap -->

                                <div class="post-meta">
                                    <!-- Meta details -->
                                    <ul class="list-inline metas pull-left">
                                        <!-- post metas -->
                                        <li><a href="#">by Nickname</a></li> <!-- meta author -->
                                        <li><a href="#">20 Comments</a></li> <!-- meta comments -->
                                    </ul>
                                    <ul class="list-inline meta-detail pull-right">
                                        <!-- user meta interaction -->
                                        <li><a href="#"><i class="fa fa-heart"></i></a> 50</li> <!-- like button -->
                                        <li><i class="fa fa-eye"></i> 110</li> <!-- no. of views -->
                                    </ul>
                                </div><!-- end Meta details -->
                            </div><!-- end Post Wrapper -->

                            <div class="post-wrap">
                                <!-- Post Wrapper -->
                                <div class="media post">
                                    <!-- post wrap -->
                                    <div class="media-left">
                                        <a href="#">
                                            <!-- link to your post single page -->
                                            <img class="media-object" src="http://placehold.it/120x150" alt="...">
                                            <!-- Your Post Image -->
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="small">January 14, 2022</p>
                                        <a href="#">
                                            <h5 class="media-heading"><strong>Title</strong></h5>
                                        </a>
                                        <p>contents </p>
                                    </div>
                                </div><!-- end post wrap -->

                                <div class="post-meta">
                                    <!-- Meta details -->
                                    <ul class="list-inline metas pull-left">
                                        <!-- post metas -->
                                        <li><a href="#">by Nickname</a></li> <!-- meta author -->
                                        <li><a href="#">20 Comments</a></li> <!-- meta comments -->
                                    </ul>
                                    <ul class="list-inline meta-detail pull-right">
                                        <!-- user meta interaction -->
                                        <li><a href="#"><i class="fa fa-heart"></i></a> 50</li> <!-- like button -->
                                        <li><i class="fa fa-eye"></i> 110</li> <!-- no. of views -->
                                    </ul>
                                </div><!-- end Meta details -->
                            </div><!-- end Post Wrapper -->

                            <div class="post-wrap">
                                <!-- Post Wrapper -->
                                <div class="media post">
                                    <!-- post wrap -->
                                    <div class="media-left">
                                        <a href="#">
                                            <!-- link to your post single page -->
                                            <img class="media-object" src="http://placehold.it/120x150" alt="...">
                                            <!-- Your Post Image -->
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="small">January 14, 2022</p>
                                        <a href="#">
                                            <h5 class="media-heading"><strong>Title</strong></h5>
                                        </a>
                                        <p>contents </p>
                                    </div>
                                </div><!-- end post wrap -->

                                <div class="post-meta">
                                    <!-- Meta details -->
                                    <ul class="list-inline metas pull-left">
                                        <!-- post metas -->
                                        <li><a href="#">by Nickname</a></li> <!-- meta author -->
                                        <li><a href="#">20 Comments</a></li> <!-- meta comments -->
                                    </ul>
                                    <ul class="list-inline meta-detail pull-right">
                                        <!-- user meta interaction -->
                                        <li><a href="#"><i class="fa fa-heart"></i></a> 50</li> <!-- like button -->
                                        <li><i class="fa fa-eye"></i> 110</li> <!-- no. of views -->
                                    </ul>
                                </div><!-- end Meta details -->
                            </div><!-- end Post Wrapper -->

                        </div> <!-- end Left content col 6 -->

                        <div class="col-md-6">
                            <!-- right content col 6 -->

                            <div class="post-wrap">
                                <!-- Post Wrapper -->
                                <div class="media post">
                                    <!-- post wrap -->
                                    <div class="media-left">
                                        <a href="#">
                                            <!-- link to your post single page -->
                                            <img class="media-object" src="http://placehold.it/120x150" alt="...">
                                            <!-- Your Post Image -->
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="small">January 14, 2022</p>
                                        <a href="#">
                                            <h5 class="media-heading"><strong>Title</strong></h5>
                                        </a>
                                        <p>contents </p>
                                    </div>
                                </div><!-- end post wrap -->

                                <div class="post-meta">
                                    <!-- Meta details -->
                                    <ul class="list-inline metas pull-left">
                                        <!-- post metas -->
                                        <li><a href="#">by Nickname</a></li> <!-- meta author -->
                                        <li><a href="#">20 Comments</a></li> <!-- meta comments -->
                                    </ul>
                                    <ul class="list-inline meta-detail pull-right">
                                        <!-- user meta interaction -->
                                        <li><a href="#"><i class="fa fa-heart"></i></a> 50</li> <!-- like button -->
                                        <li><i class="fa fa-eye"></i> 110</li> <!-- no. of views -->
                                    </ul>
                                </div><!-- end Meta details -->
                            </div><!-- end Post Wrapper -->

                            <div class="post-wrap">
                                <!-- Post Wrapper -->
                                <div class="media post">
                                    <!-- post wrap -->
                                    <div class="media-left">
                                        <a href="#">
                                            <!-- link to your post single page -->
                                            <img class="media-object" src="http://placehold.it/120x150" alt="...">
                                            <!-- Your Post Image -->
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="small">January 14, 2022</p>
                                        <a href="#">
                                            <h5 class="media-heading"><strong>Title</strong></h5>
                                        </a>
                                        <p>contents </p>
                                    </div>
                                </div><!-- end post wrap -->

                                <div class="post-meta">
                                    <!-- Meta details -->
                                    <ul class="list-inline metas pull-left">
                                        <!-- post metas -->
                                        <li><a href="#">by Nickname</a></li> <!-- meta author -->
                                        <li><a href="#">20 Comments</a></li> <!-- meta comments -->
                                    </ul>
                                    <ul class="list-inline meta-detail pull-right">
                                        <!-- user meta interaction -->
                                        <li><a href="#"><i class="fa fa-heart"></i></a> 50</li> <!-- like button -->
                                        <li><i class="fa fa-eye"></i> 110</li> <!-- no. of views -->
                                    </ul>
                                </div><!-- end Meta details -->
                            </div><!-- end Post Wrapper -->

                            <div class="post-wrap gray-bg">
                                <!-- Post Wrapper -->
                                <div class="media post">
                                    <!-- post wrap -->
                                    <div class="media-left">
                                        <a href="#">
                                            <!-- link to your post single page -->
                                            <img class="media-object" src="http://placehold.it/120x150" alt="...">
                                            <!-- Your Post Image -->
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="small">January 14, 2022</p>
                                        <a href="#">
                                            <h5 class="media-heading"><strong>Title</strong></h5>
                                        </a>
                                        <p>contents </p>
                                    </div>
                                </div><!-- end post wrap -->

                                <div class="post-meta">
                                    <!-- Meta details -->
                                    <ul class="list-inline metas pull-left">
                                        <!-- post metas -->
                                        <li><a href="#">by Nickname</a></li> <!-- meta author -->
                                        <li><a href="#">20 Comments</a></li> <!-- meta comments -->
                                    </ul>
                                    <ul class="list-inline meta-detail pull-right">
                                        <!-- user meta interaction -->
                                        <li><a href="#"><i class="fa fa-heart"></i></a> 50</li> <!-- like button -->
                                        <li><i class="fa fa-eye"></i> 110</li> <!-- no. of views -->
                                    </ul>
                                </div><!-- end Meta details -->
                            </div><!-- end Post Wrapper -->

                        </div><!-- end right content col 6 -->
                    </div><!-- end row -->

                    <!-- <div class="text-center">
                        <a href="#" class="btn btn-primary tf-btn color">Load More</a>
                    </div>                 -->
                </div><!-- end container -->
            </div> <!-- end fullwidth gray background -->
        </div>
    </div>


    <!-- Footer 
    ================================================== -->
    <div data-include-path="footer.html"></div>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        });
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.1.11.1.js"></script>

    <script type="text/javascript" src="/js/modernizr.custom.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script type="text/javascript" src="/js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->

    <script type="text/javascript" src="/js/SmoothScroll.js"></script>

    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="/js/line-chart.js"></script>

    <!-- Parallax Effects -->
    <script type="text/javascript" src="/js/skrollr.js"></script>
    <script type="text/javascript" src="/js/imagesloaded.js"></script>

    <!-- Portfolio Filter -->
    <!-- <script type="text/javascript" src="/js/jquery.isotope.js"></script> -->

    <!-- LightBox Nivo -->
    <script type="text/javascript" src="/js/nivo-lightbox.min.js"></script>

    <!-- Contact page-->
    <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/js/contact.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/js/main.js"></script>


    <!-- cursor
    ================================================== -->
    <!-- <script>
        let mouseCursor = document.querySelector(".cursor");
        let navLinks = document.querySelectorAll(".navbar-right li a"); //메뉴 링크
        //window 객체에 scroll & mouse 이벤트를 추가하고 cursor함수 실행되도록 함
        window.addEventListener("scroll", cursor);
        window.addEventListener("mousemove", cursor);
        //커스텀 커서의 left값과 top값을 커서의 XY좌표값과 일치시킴
        function cursor(e) {
            mouseCursor.style.left = e.pageX + "px";
            mouseCursor.style.top = e.pageY - scrollY + "px";
        }

        navLinks.forEach((link) => {
            link.addEventListener("mouseover", () => {
                mouseCursor.classList.add("link-grow");
                mouseCursor.style.zIndex = "-1";
                link.classList.add("hovered-link");
            });
            link.addEventListener("mouseleave", () => {
                mouseCursor.classList.remove("link-grow");
                mouseCursor.style.zIndex = "1000";
                link.classList.remove("hovered-link");
            });
        });
    </script> -->

</body>

</html>