<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <div data-include-path="head.html"></div>

</head>

<body>

    <div class="cursor"></div>

    <!-- Main Navigation 
    ================================================== -->
    <div data-include-path="nav.html"></div>

    <!--
    ================================================== -->
    <div id="tf-services">
        <div class="container m-top-100">
            <!-- container -->

            <div class="section-header">
                <h1 class="text-big">Coming <span class="highlight"><strong>Soon</strong></span></h1>
                <!-- <h5><em>We design and build functional and beautiful websites</em></h5> -->
                <!-- <div class="fancy"><span><img src="/img/favicon.ico" alt="..."></span></div> -->
            </div>

            <div id="feature">
                <!-- fullwidth gray background -->
                <div class="container">
                    <!-- container -->
                    <div class="row" role="tabpanel">
                        <!-- row -->
                        <div class="col-md-4 col-md-offset-1">
                            <!-- tab menu col 4 -->

                            <ul class="features nav nav-pills nav-stacked" role="tablist">
                                <li role="presentation" class="active">
                                    <!-- feature tab menu #1 -->
                                    <a href="#f1" aria-controls="f1" role="tab" data-toggle="tab">
                                        <img src="/img/logo/netflix.png" alt="" class="w150">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <!-- feature tab menu #2 -->
                                    <a href="#f2" aria-controls="f2" role="tab" data-toggle="tab">
                                        <img src="/img/logo/tving.png" alt="" class="w150">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <!-- feature tab menu #3 -->
                                    <a href="#f3" aria-controls="f3" role="tab" data-toggle="tab">
                                        <img src="/img/logo/wavve.png" alt="" class="w150">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <!-- feature tab menu #4 -->
                                    <a href="#f4" aria-controls="f4" role="tab" data-toggle="tab">
                                        <img src="/img/logo/watcha.png" alt="" class="w150">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <!-- feature tab menu #5 -->
                                    <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                        <img src="/img/logo/disney-plus-1.png" alt="" class="w150">
                                    </a>
                                </li>
                            </ul>

                        </div><!-- end tab menu col 4 -->

                        <div class="col-md-6">
                            <!-- right content col 6 -->
                            <!-- Tab panes -->
                            <div class="tab-content features-content">
                                <!-- tab content wrapper -->
                                <div role="tabpanel" class="tab-pane fade in active" id="f1">
                                    <!-- feature #1 content open -->
                                    <h4>지금 우리 학교는 &nbsp; | &nbsp; 1월 예정 &nbsp; | &nbsp; 윤찬영, 박지후 등</h4>
                                    <h4>소녀 심판 &nbsp; |  &nbsp; 1월 예정  &nbsp; |  &nbsp; 김혜수, 김무열 등</h4>
                                    <h4>신문기자  &nbsp; |  &nbsp; 1월 예정  &nbsp; |  &nbsp; 요네쿠라 료코, 아야노 고 등</h4>
                                    <h4>뮌헨: 전쟁의 문턱에서  &nbsp; |  &nbsp; 1월 예정  &nbsp; |  &nbsp; 조지 맥케이,야니스니뵈너 등</h4>
                                    <h4>브레이즌(BRAZEN)  &nbsp; |  &nbsp; 1월 예정  &nbsp; |  &nbsp; 알라사 밀라노, 매튜 핀랜 등</h4>
                                    <h4>기묘한 이야기 시즌4  &nbsp; |  &nbsp; 2022년 예정  &nbsp; |  &nbsp; 위노나 라이더, 데이비드 하버 등</h4>
                                    <h4>종이의 집 한국판 &nbsp; |  &nbsp; 2022년 예정  &nbsp; |  &nbsp; 유지태, 김윤진 등</h4>
                                  </div>
                                  <div role="tabpanel" class="tab-pane fade" id="f2">
                                    <!-- feature #2 content -->
                                    <h4>내과 박원장 &nbsp; | &nbsp; 1월 14일 예정 &nbsp; | &nbsp; 이서진, 라미란 등</h4>
                                    <h4>괴이  &nbsp; |  &nbsp; 2022년 예정  &nbsp; |  &nbsp; 구교환, 신현빈 등</h4>
                                    <h4>돼지의 왕  &nbsp; |  &nbsp; 2022년 예정  &nbsp; |  &nbsp; 김동욱, 김성규 등</h4>
                                    <h4>장미맨션  &nbsp; |  &nbsp; 2022년 예정  &nbsp; |  &nbsp; 임지연, 윤균상 등</h4>
                                    <h4>유미의 세포들2  &nbsp; |  &nbsp; 2022년 예정  &nbsp; |  &nbsp; 신예은, 진영 등</h4>
                                    <h4>술꾼도시여자들2  &nbsp; |  &nbsp; 2022년 예정  &nbsp; |  &nbsp; 정은지, 이선빈 등</h4>
                                  </div>
                                  <div role="tabpanel" class="tab-pane fade" id="f3">
                                    <!-- feature #3 content -->
                                    <h4>트레이서 &nbsp; | &nbsp; 1월 7일 예정 &nbsp; | &nbsp;  임시완, 고아성 등</h4>
                                    <h4>악의 마음을 읽는 자들 &nbsp; | &nbsp; 1월 14일 예정 &nbsp; | &nbsp; 김남길, 진선규 등</h4>
                                    <h4>백설공주에게 죽음을 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 변요한, 고보결 등</h4>
                                    <h4>젠틀맨 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 주지훈, 박성웅 등</h4>
                                    <h4>데드맨 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 조진웅, 김희애 등</h4>
                                    <h4>미라클 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 찬희, 강민아 등</h4>
                                  </div>
                                  <div role="tabpanel" class="tab-pane fade" id="f4">
                                    <!-- feature #4 content -->
                                    <h4>최종병기 그녀 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 송건희, 박세완 등</h4>
                                    <h4>시맨틱 에러 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 박서함, 재찬 등</h4>
                                  </div>
                                  <div role="tabpanel" class="tab-pane fade" id="f5">
                                    <!-- feature #5 content -->
                                    <h4>이터널스 &nbsp; | &nbsp; 1월 12일 예정 &nbsp; | &nbsp; 안젤리나 졸리, 마동석 등</h4>
                                    <h4>프리가이 &nbsp; | &nbsp; 2월 23일 예정 &nbsp; | &nbsp; 라이언 레이놀즈 등</h4>
                                    <h4>그리드 &nbsp; | &nbsp; 2월 예정 &nbsp; | &nbsp; 서강준, 김아중 등</h4>
                                    <h4>너와 나의 경찰수업 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 강다니엘, 채수빈 등</h4>
                                    <h4>무빙 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 류승룡, 한효주 등</h4>
                                    <h4>키스 식스 센스 &nbsp; | &nbsp; 2022년 예정 &nbsp; | &nbsp; 서지혜, 윤계상 등</h4>
                                  </div>
                            </div> <!-- end tab content wrapper -->
                        </div><!-- end right content col 6 -->

                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div><!-- end fullwidth gray background -->

        </div><!-- end container -->
    </div>

    <!--
        ================================================== -->
    <div class="gray-bg">
        <!-- fullwidth gray background -->
        <div id="tf-about">
            <div class="container">
                <!-- container -->
                <div class="section-header">
                    <h1 class="text-big">Last year <span class="highlight"><strong>Top10</strong></span></h1>
                </div>

                <!-- chart -->
                <div id="feature float-left">
                    <!-- fullwidth gray background -->
                    <div class="container">
                        <!-- container -->
                        <h3 class="text-center text-bold m-bot-30">드라마 / 예능 순위</h3>

                        <div class="row" role="tabpanel">
                            <!-- row -->
                            <div class="col-md-4 col-md-offset-1 fl w400 m-top-30">
                                <!-- tab menu col 4 -->
                                <ul class="features nav nav-pills nav-stacked ranking-chart w200 fl" role="tablist">
                                    <li role="presentation" class="active">
                                        <!-- feature tab menu #1 -->
                                        <a class="ranking scroll text-uppercase" href="#tf-pricing" aria-controls="f1" role="tab" data-toggle="tab">
                                            <h4 class="ranking">1. 오징어게임</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #2 -->
                                        <a class="ranking" href="#f2" aria-controls="f2" role="tab" data-toggle="tab">
                                            <h4 class="ranking">2. 경이로운 소문</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #3 -->
                                        <a class="ranking" href="#f3" aria-controls="f3" role="tab" data-toggle="tab">
                                            <h4 class="ranking">3. 머니게임</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #4 -->
                                        <a class="ranking" href="#f4" aria-controls="f4" role="tab" data-toggle="tab">
                                            <h4 class="ranking">4. 철인황후</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #5 -->
                                        <a class="ranking" href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                            <h4 class="ranking">5. 아케인</h4>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="features nav nav-pills nav-stacked ranking-list w200 fl" role="tablist">
                                    <li role="presentation">
                                        <!-- feature tab menu #6 -->
                                        <a class="ranking" href="#f6" aria-controls="f6" role="tab" data-toggle="tab">
                                            <h4 class="ranking">6. D.P.</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #7 -->
                                        <a class="ranking" href="#f7" aria-controls="f7" role="tab" data-toggle="tab">
                                            <h4 class="ranking">7. 술꾼 도시여자들</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #7 -->
                                        <a class="ranking" href="#f8" aria-controls="f8" role="tab" data-toggle="tab">
                                            <h4 class="ranking">8. 환승연애</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #7 -->
                                        <a class="ranking" href="#f9" aria-controls="f9" role="tab" data-toggle="tab">
                                            <h4 class="ranking">9. 조선구마사</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #7 -->
                                        <a class="ranking" href="#f10" aria-controls="f10" role="tab" data-toggle="tab">
                                            <h4 class="ranking">10. 검은 태양</h4>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end tab menu col 4 -->

                            <!-- doughnut chart -->
                            <div class="doughnut-chart-wrap">
                                <canvas id="d-1"></canvas>
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end container -->
                    <div class="container">
                        <!-- container -->
                        <h3 class="text-center text-bold m-bot-30 m-top-100">영화 순위</h3>

                        <div class="row" role="tabpanel">
                            <!-- row -->
                            <div class="col-md-4 col-md-offset-1 fl w400 m-top-30">
                                <!-- tab menu col 4 -->

                                <ul class="features nav nav-pills nav-stacked ranking-chart w200 fl" role="tablist">
                                    <li role="presentation" class="active">
                                        <!-- feature tab menu #1 -->
                                        <a class="ranking" href="#f1" aria-controls="f1" role="tab" data-toggle="tab">
                                            <h4 class="ranking">1. 귀멸의 칼날</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #2 -->
                                        <a class="ranking" href="#f2" aria-controls="f2" role="tab" data-toggle="tab">
                                            <h4 class="ranking">2. 이터널스</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #3 -->
                                        <a class="ranking" href="#f3" aria-controls="f3" role="tab" data-toggle="tab">
                                            <h4 class="ranking">3. 랑종</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #4 -->
                                        <a class="ranking" href="#f4" aria-controls="f4" role="tab" data-toggle="tab">
                                            <h4 class="ranking">4. 승리호</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #5 -->
                                        <a class="ranking" href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                            <h4 class="ranking">5. 블랙 위도우</h4>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="features nav nav-pills nav-stacked ranking-list w200 fl" role="tablist">
                                    <li role="presentation">
                                        <!-- feature tab menu #6 -->
                                        <a class="ranking" href="#f6" aria-controls="f6" role="tab" data-toggle="tab">
                                            <h4 class="ranking">6. 듄</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #7 -->
                                        <a class="ranking" href="#f7" aria-controls="f7" role="tab" data-toggle="tab">
                                            <h4 class="ranking">7. 모가디슈</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #7 -->
                                        <a class="ranking" href="#f8" aria-controls="f8" role="tab" data-toggle="tab">
                                            <h4 class="ranking">8. 샹치</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #7 -->
                                        <a class="ranking" href="#f9" aria-controls="f9" role="tab" data-toggle="tab">
                                            <h4 class="ranking">9. 크루엘라</h4>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <!-- feature tab menu #7 -->
                                        <a class="ranking" href="#f10" aria-controls="f10" role="tab" data-toggle="tab">
                                            <h4 class="ranking">10. 베놈 2</h4>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end tab menu col 4 -->

                            <!-- doughnut chart -->
                            <div class="doughnut-chart-wrap">
                                <canvas id="d-2"></canvas>
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end container -->
                    
                </div><!-- end fullwidth gray background -->
            </div><!-- end container -->
        </div> <!-- end fullwidth gray background -->
    </div>

    <!--
    ================================================== -->
    <div id="tf-pricing">
        <div class="container">
            <div class="section-header">
                <h1 class="text-big">Real time <span class="highlight"><strong>youtube</strong></span></h1>
            </div>

            <div class="real-youtube">
                <div class="real-search">
                    <p class="real-time fl"><span id="current" class="display"></span></p>
                    <p class="real-time display title fl">검색어 : 오징어게임</p>
                </div>

                <div class="real-content">
                    <div class="media post">
                        <!-- post wrap -->
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object w500" src="/img/sum.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                                <h2 class="media-heading"><strong>$456,000 Squid Game In Real Life!</strong></h2>
                                <p class="m-top-10 font-little-big">조회수 2억회 | Dec 14, 2021</p>
                                <h5 class="real-user font-little-big">MrBeast</h5>
                        </div>
                    </div><!-- end post wrap -->
                </div>

                <script>
                    setInterval(displayNow, 1000);  // 1초마다 시간 계산 함수 실행
                
                    function displayNow() {  // 시간 계산 함수
                      var now = new Date();     // Date 객체의 인스턴스를 만듦      
                      var currentTime = now.toLocaleTimeString();     //  toLocaleTmeString() 메서드를 사용해 지역에 맞는 시간을 가져옴
                
                      document.querySelector("#current").innerHTML = currentTime;   // id="current" 인 요소에 현재 시간 표시
                    }
                  </script>
                
            </div>
        </div>
    </div>


    <!-- Footer 
    ================================================== -->
    <div data-include-path="footer.html"></div>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        });
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script type="text/javascript" src="/js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->

    <script type="text/javascript" src="/js/SmoothScroll.js"></script>

    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="/js/d-1.js"></script>
    <script type="text/javascript" src="/js/d-2.js"></script>
    <script type="text/javascript" src="/js/d-3.js"></script>

    <!-- Parallax Effects -->
    <script type="text/javascript" src="/js/skrollr.js"></script>
    <script type="text/javascript" src="/js/imagesloaded.js"></script>

    <!-- Portfolio Filter -->
    <script type="text/javascript" src="/js/jquery.isotope.js"></script>

    <!-- LightBox Nivo -->
    <script type="text/javascript" src="/js/nivo-lightbox.min.js"></script>

    <!-- Contact page-->
    <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/js/contact.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/js/main.js"></script>

    <script type="text/javascript" src="/js/modernizr.custom.js"></script>

    <!-- cursor
    ================================================== -->
    <!-- <script>
        let mouseCursor = document.querySelector(".cursor");
        let navLinks = document.querySelectorAll(".navbar-right li a"); //메뉴 링크
        //window 객체에 scroll & mouse 이벤트를 추가하고 cursor함수 실행되도록 함
        window.addEventListener("scroll", cursor);
        window.addEventListener("mousemove", cursor);
        //커스텀 커서의 left값과 top값을 커서의 XY좌표값과 일치시킴
        function cursor(e) {
            mouseCursor.style.left = e.pageX + "px";
            mouseCursor.style.top = e.pageY - scrollY + "px";
        }

        navLinks.forEach((link) => {
            link.addEventListener("mouseover", () => {
            mouseCursor.classList.add("link-grow");
            mouseCursor.style.zIndex = "-1";
            link.classList.add("hovered-link");
            });
            link.addEventListener("mouseleave", () => {
            mouseCursor.classList.remove("link-grow");
            mouseCursor.style.zIndex = "1000";
            link.classList.remove("hovered-link");
            });
        });
    </script> -->

</body>

</html>