<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <div data-include-path="head.html"></div>

</head>

<body>

    <!-- Main Navigation 
    ================================================== -->
    <div data-include-path="nav.html"></div>

    <div class="cursor"></div>

    <!-- Works Section
    ================================================== -->
    <div id="tf-works">
        <div class="container">
            <div class="section-header p-bot">
                <div class="very-fancy font-little-big"><span><strong>2022년 올해의 컬러</strong></span></div>
                <h1 class="veryperi font-very-big">Very <span class="highlight vp-color"><strong>Peri</strong></span></h1>
                <!-- <h5>불변을 상징하는 푸른색과 에너지를 의미하는 빨간색이 섞인 베리페리는<br>
                    격변의 시대를 상징하며, 격리된 현실과 디지털 생활의 융합을 표현한 색이다.</h5> -->
            </div>

            <div class="text-center">
                <ul class="list-inline cat">
                    <!-- Portfolio Filter Categories -->
                    <li><a href="#" data-filter="*" class="active">All</a></li>
                    <li><a href="#" data-filter=".web">Web</a></li>
                    <li><a href="#" data-filter=".brand">Fashion</a></li>
                    <li><a href="#" data-filter=".app">Interior</a></li>
                    <li><a href="#" data-filter=".others">Others</a></li>
                </ul><!-- End Portfolio Filter Categories -->
            </div>

        </div><!-- End Container -->

        <div class="container-fluid">
            <!-- fluid container -->
            <div id="itemsWork" class="row text-center">
                <!-- Portfolio Wrapper Row -->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding brand">
                    <!-- Works #1 col 3 -->
                    <div class="box">
                        <div class="hover-bg">
                            <div class="hover-text off">
                                <a title="Fashion Design #1" href="/img/portfolio/fashion-1@2x.jpg"
                                    data-lightbox-gallery="gallery1"
                                    data-lightbox-hidpi="/img/portfolio/fashion-1@2x.jpg">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#"><i class="fa fa-chain"></i></a>
                                <!-- change # with your url to link it to another page -->
                            </div>
                            <img src="/img/portfolio/fashion-1.jpg" class="img-responsive" alt="Image">
                            <!-- Portfolio Image -->
                        </div>
                    </div>
                </div><!-- end Works #1 col 3 -->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding web">
                    <!-- Works #2 col 3 -->
                    <div class="box">
                        <div class="hover-bg">
                            <div class="hover-text off">
                                <a title="Web Design #1" href="/img/portfolio/web-1@2x.jpg"
                                    data-lightbox-gallery="gallery1" data-lightbox-hidpi="/img/portfolio/web-1@2x.jpg">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#"><i class="fa fa-chain"></i></a>
                                <!-- change # with your url to link it to another page -->
                            </div>
                            <img src="/img/portfolio/web-1.jpg" class="img-responsive" alt="Image">
                            <!-- Portfolio Image -->
                        </div>
                    </div>
                </div><!-- end Works #2 col 3 -->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding brand">
                    <!-- Works #3 col 3 -->
                    <div class="box">
                        <div class="hover-bg">
                            <div class="hover-text off">
                                <a title="Fashion Design #2" href="/img/portfolio/fashion-1@2x.jpg"
                                    data-lightbox-gallery="gallery1"
                                    data-lightbox-hidpi="/img/portfolio/fashion-1@2x.jpg">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#"><i class="fa fa-chain"></i></a>
                                <!-- change # with your url to link it to another page -->
                            </div>
                            <img src="/img/portfolio/fashion-2.jpg" class="img-responsive" alt="Image">
                            <!-- Portfolio Image -->
                        </div>
                    </div>
                </div><!-- end Works #3 col 3 -->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding app">
                    <!-- Works #4 col 3 -->
                    <div class="box">
                        <div class="hover-bg">
                            <div class="hover-text off">
                                <a title="Interior Design" href="/img/portfolio/interior-1@2x.jpeg"
                                    data-lightbox-gallery="gallery1"
                                    data-lightbox-hidpi="/img/portfolio/interior-1@2x.jpeg">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#"><i class="fa fa-chain"></i></a>
                                <!-- change # with your url to link it to another page -->
                            </div>
                            <img src="/img/portfolio/interior-1.jpg" class="img-responsive" alt="Image">
                            <!-- Portfolio Image -->
                        </div>
                    </div>
                </div> <!-- end Works #4 col 3 -->

                <div class="col-xs-12 col-sm-6 col-md-3 nopadding others">
                    <!-- Works #5 col 3 -->
                    <div class="box">
                        <div class="hover-bg">
                            <div class="hover-text off">
                                <a title="Sample #1" href="/img/portfolio/other-1@2x.jpeg"
                                    data-lightbox-gallery="gallery1"
                                    data-lightbox-hidpi="/img/portfolio/other-1@2x.jpeg">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#"><i class="fa fa-chain"></i></a>
                                <!-- change # with your url to link it to another page -->
                            </div>
                            <img src="/img/portfolio/other-1.jpg" class="img-responsive" alt="Image">
                            <!-- Portfolio Image -->
                        </div>
                    </div>
                </div> <!-- end Works #5 col 3 -->

                <div class="col-xs-12 col-sm-6 col-md-3 nopadding brand">
                    <!-- Works #6 col 3 -->
                    <div class="box">
                        <div class="hover-bg">
                            <div class="hover-text off">
                                <a title="Fashion Design #3" href="/img/portfolio/fashion-3@2x.jpeg"
                                    data-lightbox-gallery="gallery1"
                                    data-lightbox-hidpi="/img/portfolio/fashion-3@2x.jpeg">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#"><i class="fa fa-chain"></i></a>
                                <!-- change # with your url to link it to another page -->
                            </div>
                            <img src="/img/portfolio/fashion-3.jpg" class="img-responsive" alt="Image">
                            <!-- Portfolio Image -->
                        </div>
                    </div>
                </div><!-- end Works #6 col 3 -->

                <div class="col-xs-12 col-sm-6 col-md-3 nopadding others">
                    <!-- Works #7 col 3 -->
                    <div class="box">
                        <div class="hover-bg">
                            <div class="hover-text off">
                                <a title="Sample #2" href="/img/portfolio/other-2@2x.jpeg"
                                    data-lightbox-gallery="gallery1"
                                    data-lightbox-hidpi="/img/portfolio/other-2@2x.jpeg">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#"><i class="fa fa-chain"></i></a>
                                <!-- change # with your url to link it to another page -->
                            </div>
                            <img src="/img/portfolio/other-2.jpg" class="img-responsive" alt="Image">
                            <!-- Portfolio Image -->
                        </div>
                    </div>
                </div><!-- end Works #7 col 3 -->

                <div class="col-xs-12 col-sm-6 col-md-3 nopadding web">
                    <!-- Works #8 col 3 -->
                    <div class="box">
                        <div class="hover-bg">
                            <div class="hover-text off">
                                <a title="Web Design #2" href="/img/portfolio/web-2@2x.jpg"
                                    data-lightbox-gallery="gallery1" data-lightbox-hidpi="/img/portfolio/web-2@2x.jpg">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="#"><i class="fa fa-chain"></i></a>
                                <!-- change # with your url to link it to another page -->
                            </div>
                            <img src="/img/portfolio/web-2.jpg" class="img-responsive" alt="Image">
                            <!-- Portfolio Image -->
                        </div>
                    </div>
                </div> <!-- end Works #8 col 3 -->

            </div> <!-- End Row -->

        </div> <!-- End Container-Fluid -->

        <div class="container">
            <div class="section-header">
                <h2 class="font-big">Key <span class="highlight vp-color"><strong>Words</strong></span></h2>
            </div>
        </div><!-- End Container -->

        <div class="container">

              <div id="chartdiv"></div>
        </div> <!-- End Container -->

        <div class="gray-bg">

            <div class="container">
                <div class="section-header">
                    <h2 class="font-big">last year's <span class="highlight">color</span></h2>
                    <h5 class="font-little-big" style="margin-top: 20px;"><em>Illuminating & Ultimate Gray</em></h5>
                </div>

                <div class="text-center">
                    <ul class="list-inline cat">
                        <!-- Portfolio Filter Categories -->
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".web">Web</a></li>
                        <li><a href="#" data-filter=".brand">Fashion</a></li>
                        <li><a href="#" data-filter=".app">Interior</a></li>
                        <li><a href="#" data-filter=".others">Others</a></li>
                    </ul><!-- End Portfolio Filter Categories -->
                </div>

            </div><!-- End Container -->

            <div class="container">
                <!-- container -->
                <div id="itemsWorkThree" class="row text-center">
                    <!-- Portfolio Wrapper Row -->

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 brand">
                        <!-- Works #1 col 3 -->
                        <div class="box">
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <a title="Fashion Design #1" href="/img/portfolio/la-fashion-1@2x.png"
                                        data-lightbox-gallery="gallery1"
                                        data-lightbox-hidpi="/img/portfolio/la-fashion-1@2x.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-chain"></i></a>
                                    <!-- change # with your url to link it to another page -->
                                </div>
                                <img src="/img/portfolio/la-fashion-1.jpg" class="img-responsive" alt="Image">
                                <!-- Portfolio Image -->
                            </div>
                            <!-- <h5>Identity Design<br><small><em>Branding</em></small></h5> -->
                        </div>
                    </div><!-- end Works #1 col 3 -->

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 web">
                        <!-- Works #2 col 3 -->
                        <div class="box">
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <a title="Web Design" href="/img/portfolio/la-web-1@2x.jpg"
                                        data-lightbox-gallery="gallery1"
                                        data-lightbox-hidpi="/img/portfolio/la-web-1@2x.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-chain"></i></a>
                                    <!-- change # with your url to link it to another page -->
                                </div>
                                <img src="/img/portfolio/la-web-1.jpg" class="img-responsive" alt="Image">
                                <!-- Portfolio Image -->
                            </div>
                            <!-- <h5>Identity Design<br><small><em>Branding</em></small></h5> -->
                        </div>
                    </div><!-- end Works #2 col 3 -->

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 brand">
                        <!-- Works #3 col 3 -->
                        <div class="box">
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <a title="Fashion Design #2" href="/img/portfolio/la-fashion-2@2x.jpg"
                                        data-lightbox-gallery="gallery1"
                                        data-lightbox-hidpi="/img/portfolio/la-fashion-2@2x.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-chain"></i></a>
                                    <!-- change # with your url to link it to another page -->
                                </div>
                                <img src="/img/portfolio/la-fashion-2.jpg" class="img-responsive" alt="Image">
                                <!-- Portfolio Image -->
                            </div>
                            <!-- <h5>Identity Design<br><small><em>Branding</em></small></h5> -->
                        </div>
                    </div><!-- end Works #3 col 3 -->

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 app">
                        <!-- Works #4 col 3 -->
                        <div class="box">
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <a title="Interior Design #1" href="/img/portfolio/la-interior-1@2x.jpg"
                                        data-lightbox-gallery="gallery1"
                                        data-lightbox-hidpi="/img/portfolio/la-interior-1@2x.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-chain"></i></a>
                                    <!-- change # with your url to link it to another page -->
                                </div>
                                <img src="/img/portfolio/la-interior-1.jpg" class="img-responsive" alt="Image">
                                <!-- Portfolio Image -->
                            </div>
                            <!-- <h5>Identity Design<br><small><em>Branding</em></small></h5> -->
                        </div>
                    </div> <!-- end Works #4 col 3 -->

                    <div class="col-xs-12 col-sm-6 col-md-3 others">
                        <!-- Works #5 col 3 -->
                        <div class="box">
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <a title="Package Design" href="/img/portfolio/la-other-1@2x.jpg"
                                        data-lightbox-gallery="gallery1"
                                        data-lightbox-hidpi="/img/portfolio/la-other-1@2x.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-chain"></i></a>
                                    <!-- change # with your url to link it to another page -->
                                </div>
                                <img src="/img/portfolio/la-other-1.jpg" class="img-responsive" alt="Image">
                                <!-- Portfolio Image -->
                            </div>
                            <!-- <h5>Identity Design<br><small><em>Branding</em></small></h5> -->
                        </div>
                    </div> <!-- end Works #5 col 3 -->

                    <div class="col-xs-12 col-sm-6 col-md-3 app">
                        <!-- Works #6 col 3 -->
                        <div class="box">
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <a title="Interior Design #2" href="/img/portfolio/la-interior-2@2x.jpg"
                                        data-lightbox-gallery="gallery1"
                                        data-lightbox-hidpi="/img/portfolio/la-interior-2@2x.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-chain"></i></a>
                                    <!-- change # with your url to link it to another page -->
                                </div>
                                <img src="/img/portfolio/la-interior-2.jpg" class="img-responsive" alt="Image">
                                <!-- Portfolio Image -->
                            </div>
                            <!-- <h5>Identity Design<br><small><em>Branding</em></small></h5> -->
                        </div>
                    </div><!-- end Works #6 col 3 -->

                    <div class="col-xs-12 col-sm-6 col-md-3 brand">
                        <!-- Works #7 col 3 -->
                        <div class="box">
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <a title="Fashion Design #3" href="/img/portfolio/la-fashion-3@2x.jpg"
                                        data-lightbox-gallery="gallery1"
                                        data-lightbox-hidpi="/img/portfolio/la-fashion-3@2x.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-chain"></i></a>
                                    <!-- change # with your url to link it to another page -->
                                </div>
                                <img src="/img/portfolio/la-fashion-3.jpg" class="img-responsive" alt="Image">
                                <!-- Portfolio Image -->
                            </div>
                            <!-- <h5>Identity Design<br><small><em>Branding</em></small></h5> -->
                        </div>
                    </div><!-- end Works #7 col 3 -->

                    <div class="col-xs-12 col-sm-6 col-md-3 others">
                        <!-- Works #8 col 3 -->
                        <div class="box">
                            <div class="hover-bg">
                                <div class="hover-text off">
                                    <a title="Nail Art" href="/img/portfolio/la-other-2@2x.jpg"
                                        data-lightbox-gallery="gallery1"
                                        data-lightbox-hidpi="/img/portfolio/la-other-2@2x.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-chain"></i></a>
                                    <!-- change # with your url to link it to another page -->
                                </div>
                                <img src="/img/portfolio/la-other-2.jpg" class="img-responsive" alt="Image">
                                <!-- Portfolio Image -->
                            </div>
                            <!-- <h5>Identity Design<br><small><em>Branding</em></small></h5> -->
                        </div>
                    </div> <!-- end Works #8 col 3 -->

                </div> <!-- End Row -->

            </div> <!-- End Container -->

        </div>
    </div>

    <!-- Footer 
    ================================================== -->
    <div data-include-path="footer.html"></div>

    <script>
        window.addEventListener('load', function () {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function (el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        });
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script type="text/javascript" src="/js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->

    <script type="text/javascript" src="/js/SmoothScroll.js"></script>

    <!-- Charts  -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script type="text/javascript" src="/js/wheel-chart.js"></script>

    <!-- Parallax Effects -->
    <script type="text/javascript" src="/js/skrollr.js"></script>
    <script type="text/javascript" src="/js/imagesloaded.js"></script>

    <!-- Portfolio Filter -->
    <script type="text/javascript" src="/js/jquery.isotope.js"></script>

    <!-- LightBox Nivo -->
    <script type="text/javascript" src="/js/nivo-lightbox.min.js"></script>

    <!-- Contact page-->
    <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/js/contact.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/js/main.js"></script>

    <script type="text/javascript" src="/js/modernizr.custom.js"></script>

    <!-- cursor
    ================================================== -->
    <!-- <script>
        let mouseCursor = document.querySelector(".cursor");
        let navLinks = document.querySelectorAll(".navbar-right li a"); //메뉴 링크
        //window 객체에 scroll & mouse 이벤트를 추가하고 cursor함수 실행되도록 함
        window.addEventListener("scroll", cursor);
        window.addEventListener("mousemove", cursor);
        //커스텀 커서의 left값과 top값을 커서의 XY좌표값과 일치시킴
        function cursor(e) {
            mouseCursor.style.left = e.pageX + "px";
            mouseCursor.style.top = e.pageY - scrollY + "px";
        }

        navLinks.forEach((link) => {
            link.addEventListener("mouseover", () => {
            mouseCursor.classList.add("link-grow");
            mouseCursor.style.zIndex = "-1";
            link.classList.add("hovered-link");
            });
            link.addEventListener("mouseleave", () => {
            mouseCursor.classList.remove("link-grow");
            mouseCursor.style.zIndex = "1000";
            link.classList.remove("hovered-link");
            });
        });
    </script> -->

</body>

</html>