<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="js/bootstrap.js"></script>

<script type="text/javascript" src="js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->

<script type="text/javascript" src="js/SmoothScroll.js"></script>

<!-- HighChart -->
<!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="js/highcharts.js"></script> -->

<!-- Parallax Effects -->
<script type="text/javascript" src="js/skrollr.js"></script>
<script type="text/javascript" src="js/imagesloaded.js"></script>

<!-- Portfolio Filter -->
<script type="text/javascript" src="js/jquery.isotope.js"></script>

<!-- LightBox Nivo -->
<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>

<!-- Contact page-->
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="js/contact.js"></script>

<!-- Javascripts
================================================== -->
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript" src="js/modernizr.custom.js"></script>
